*{
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Vollkorn", serif;
}

.title {
    border-left: 6px solid #f00100;
    font-size: 48px;
    font-weight: 400;
    padding-left: 12px;
    padding-right: 12px;
}

.subtitle {
    display: inline;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    padding-left: 43px;
    padding-right: 12px;
    padding-bottom: 12px;
    position: relative;
    top: -12px;
}

.title-container{
    width: 225px;
    text-align: end;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}

button.btn{
    color: rgb(255, 115, 0);
    border: rgb(66, 66, 66);
    background: transparent;
    cursor: pointer;
    display: inline;
    position: relative;
    bottom: 0;

    font-family: "Vollkorn", serif;
    font-size: 32px;
    font-style: italic;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}

button.btn:hover {
    color: #f00100;
    transition: color 1.1s;
}

#doc-box {
    padding-left: 6px;
    padding-right: 12px;

    text-align: justify;
    text-justify: auto;
}

#art-box {
    display: inline;
    position: relative;
}

#compose-box {
    display: inline;
    position: relative;
    top: 24px;
}

#button-align {
    text-align: center;
}

#toggle-align {
    text-align: end;
}

#toggle > span {
    display:inline;
    cursor: pointer;
    position: relative;
    bottom: 0;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 10em;
}

.showContent {
    line-height: 1em;
    height: auto;
}

.name-align {
    width: 100%;
    text-align: right;
}

#name {
    position: relative;
}

#artist-info {
    visibility: hidden;
    background-color: rgba(63, 63, 48, 0.274);
    color: rgb(0, 5, 27);
    text-align: left;
    border-radius: 5px;
    display: inline;
   
    position: relative;
    z-index: 1;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}

#name:hover #artist-info {
    visibility: visible;
}

#name:hover {
    cursor: pointer;
}

#svg-art {
    display: none;
    width: 100%;
}

#canvas-art {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.high-art {
    border: 4px solid #1f1f1f;
}
#art-box {
    top: -72px;
    width:93%;
}

.grid-container{
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-rows: 105px auto;
    grid-template-areas:    " logo empty " 
                            " doc art ";

}

.grid-item:nth-child(1) { grid-area: logo; } /*https://stackoverflow.com/a/45373587*/
.grid-item:nth-child(2) { grid-area: empty; }
.grid-item:nth-child(3) { grid-area: doc; }
.grid-item:nth-child(4) { grid-area: art; }

@media only screen and (max-width: 1321px) {
    .grid-container {
        grid-template-columns: 225px auto;
    }
}

@media (max-aspect-ratio: 11/16) {   /*  styling when the screen is thight
                                        like on a mobile screen */
    .grid-container{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:    " logo "
                                " empty "
                                " art "
                                " doc ";
    }

    #art-box {
        top: 0px;
    }

    #doc-box {
        padding-right: 6px;
        width: 94vw;
    }

    #artist-info {
        display: none;
    }   
}